﻿@page "/"
@model LinkedInScrapperModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <h2 class="display-4">Extract Html File Into Excel</h2>
    <hr />


    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="image-upload-wrap  d-flex align-items-center justify-content-center text-center">
                    <input class="file-upload-input" type='file' name="htmlFile" />
                    <div class="drag-text">
                        <h3><i class="fa fa-file-code-o fs-2"></i> Drag and drop a Html file </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
       
       @* <input type="file" name="htmlFile" />*@
        <button type="submit" class="btn btn-primary btn-lg mt-4 fs-4"><i class="fa fa-file-excel-o "></i> Download Excel</button>
    </form>

 
</div>
